#game_pane {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-touch-action: none;
  touch-action: none;
  background-color: #FFFFFF;
  font-family: sans-serif;
}
#game_result {
  height: 100%;
  font-size: 40px;
}
#game_result_text {
  text-align: center;
}
#npc_result, #you_result{
  /*height:100px;*/
}

#buttons_container {
  clear: both;
  position: relative;
  z-index: 10;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  background-color: #FFFFFF;
  margin-top: -169px;
}

.button0 {
  background-image: url("images/rock.png");
}
.button1 {
  background-image: url("images/paper.png");
}
.button2 {
  background-image: url("images/scissors.png");
}
.button0_pressed {
  background-image: url("images/rock1.png");
}
.button1_pressed {
  background-image: url("images/paper1.png");
}
.button2_pressed {
  background-image: url("images/scissors1.png");
}
.button {
  cursor: pointer;
  height: 169px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center; 
}